In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_path_india='drive/My Drive/Colab Notebooks/Research/AQI_forecasting/India_city_hour.csv'
df_path_seoul='drive/My Drive/Colab Notebooks/Research/AQI_forecasting/Seoul.csv'

In [4]:
df_india=pd.read_csv(df_path_india)
df_seoul=pd.read_csv(df_path_seoul)

In [5]:
from datetime import datetime

def stringToDateTime(string):
  return datetime.strptime(string,"%m/%d/%Y %H:%M")

india_time=map(stringToDateTime,df_india.Datetime)
df_india.Datetime=list(india_time)
df_india

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Country
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN,India
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN,India
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN,India
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN,India
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707870,Visakhapatnam,2020-06-30 20:00:00,9.50,36.00,2.75,25.57,15.85,4.57,0.62,NaN,27.75,NaN,NaN,NaN,51.0,Satisfactory,India
707871,Visakhapatnam,2020-06-30 21:00:00,17.25,49.25,3.62,33.20,20.62,3.78,0.76,2.02,25.58,NaN,NaN,NaN,51.0,Satisfactory,India
707872,Visakhapatnam,2020-06-30 22:00:00,36.00,71.00,2.20,30.80,18.20,3.67,0.58,1.77,26.15,NaN,NaN,NaN,50.0,Good,India
707873,Visakhapatnam,2020-06-30 23:00:00,15.75,63.00,1.02,28.90,16.00,3.80,0.49,0.75,15.82,NaN,NaN,NaN,50.0,Good,India
707874,Visakhapatnam,2020-07-01 00:00:00,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good,India

In [6]:
df_sub_india=df_india[df_india.Datetime.dt.year>2016]
df_sub_india=df_sub_india[df_sub_india.Datetime.dt.year<2020]

df_sub_india.drop(['Country'],axis=1,inplace=True)
df_sub_india.drop(['AQI_Bucket'],axis=1,inplace=True)
df_sub_india.dropna(inplace=True)

df_sub_india

<ipython-input-6-3ef04b3a1bf9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_india.drop(['Country'],axis=1,inplace=True)
<ipython-input-6-3ef04b3a1bf9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_india.drop(['AQI_Bucket'],axis=1,inplace=True)
<ipython-input-6-3ef04b3a1bf9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_india.dropna(inplace=True)

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
50888,Amaravati,2017-11-25 09:00:00,104.00,148.50,1.93,23.00,13.75,9.80,0.10,15.30,117.62,0.30,10.40,0.23,155.0
50889,Amaravati,2017-11-25 10:00:00,94.50,142.00,1.33,16.25,9.75,9.65,0.10,17.00,136.23,0.28,7.10,0.15,159.0
50890,Amaravati,2017-11-25 11:00:00,82.75,126.50,1.47,14.83,9.07,9.70,0.10,15.40,149.92,0.20,4.55,0.08,173.0
50893,Amaravati,2017-11-25 14:00:00,68.50,117.00,1.35,13.60,8.35,7.40,0.10,21.80,161.70,0.10,2.30,0.00,191.0
50894,Amaravati,2017-11-25 15:00:00,69.25,112.25,1.52,11.80,7.55,9.25,0.10,21.38,161.68,0.10,2.35,0.00,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703257,Visakhapatnam,2019-12-21 15:00:00,58.25,109.75,2.95,19.98,13.05,18.02,1.20,12.95,85.12,3.30,4.18,1.08,140.0
703258,Visakhapatnam,2019-12-21 16:00:00,58.25,124.00,2.20,15.50,10.03,15.30,0.73,10.57,96.55,3.17,3.80,0.82,139.0
703503,Visakhapatnam,2019-12-31 21:00:00,62.75,97.00,2.77,59.08,33.65,17.27,1.89,11.40,44.45,6.67,10.60,3.75,99.0
703504,Visakhapatnam,2019-12-31 22:00:00,65.00,97.00,3.30,53.33,30.98,14.43,1.69,7.92,57.27,6.85,11.18,3.83,99.0
703505,Visakhapatnam,2019-12-31 23:00:00,79.00,104.00,3.10,46.70,27.30,12.55,1.54,6.35,74.05,6.90,17.00,3.50,95.0

In [7]:
from sklearn.preprocessing import LabelEncoder

values = df_sub_india.values
encoder = LabelEncoder()
values[:,0] = encoder.fit_transform(values[:,0])
values[:,0] = values[:,0].astype('float32')

df_sub_india = df_sub_india.drop(['City'],axis=1)

In [8]:
df_sub_india['City'] = values[:,0]
df_sub_india

,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,City
50888,2017-11-25 09:00:00,104.00,148.50,1.93,23.00,13.75,9.80,0.10,15.30,117.62,0.30,10.40,0.23,155.0,0.0
50889,2017-11-25 10:00:00,94.50,142.00,1.33,16.25,9.75,9.65,0.10,17.00,136.23,0.28,7.10,0.15,159.0,0.0
50890,2017-11-25 11:00:00,82.75,126.50,1.47,14.83,9.07,9.70,0.10,15.40,149.92,0.20,4.55,0.08,173.0,0.0
50893,2017-11-25 14:00:00,68.50,117.00,1.35,13.60,8.35,7.40,0.10,21.80,161.70,0.10,2.30,0.00,191.0,0.0
50894,2017-11-25 15:00:00,69.25,112.25,1.52,11.80,7.55,9.25,0.10,21.38,161.68,0.10,2.35,0.00,191.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703257,2019-12-21 15:00:00,58.25,109.75,2.95,19.98,13.05,18.02,1.20,12.95,85.12,3.30,4.18,1.08,140.0,7.0
703258,2019-12-21 16:00:00,58.25,124.00,2.20,15.50,10.03,15.30,0.73,10.57,96.55,3.17,3.80,0.82,139.0,7.0
703503,2019-12-31 21:00:00,62.75,97.00,2.77,59.08,33.65,17.27,1.89,11.40,44.45,6.67,10.60,3.75,99.0,7.0
703504,2019-12-31 22:00:00,65.00,97.00,3.30,53.33,30.98,14.43,1.69,7.92,57.27,6.85,11.18,3.83,99.0,7.0
703505,2019-12-31 23:00:00,79.00,104.00,3.10,46.70,27.30,12.55,1.54,6.35,74.05,6.90,17.00,3.50,95.0,7.0

In [9]:
india_city=df_sub_india['City'].unique()
india_city

array([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype=object)

#Korea dataset processing

In [10]:
df_seoul.rename(columns={'Date':'Datetime'},inplace=True)
df_sub_seoul=df_seoul[df_seoul.Address=='19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republic of Korea']
df_sub_seoul

,Datetime,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5,Country
0,1/1/2017 0:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73,57,Korea
1,1/1/2017 1:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71,59,Korea
2,1/1/2017 2:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70,59,Korea
3,1/1/2017 3:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70,58,Korea
4,1/1/2017 4:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69,61,Korea
...,...,...,...,...,...,...,...,...,...,...,...
25900,12/31/2019 19:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.026,0.014,0.5,26,19,Korea
25901,12/31/2019 20:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.024,0.014,0.4,27,19,Korea
25902,12/31/2019 21:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.014,0.021,0.4,23,18,Korea
25903,12/31/2019 22:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.022,0.014,0.5,20,19,Korea
25904,12/31/2019 23:00,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.035,0.005,0.5,20,15,Korea

In [11]:
from datetime import datetime

def stringToDateTime(string):
  return datetime.strptime(string,"%m/%d/%Y %H:%M")

korea_time=map(stringToDateTime,df_sub_seoul.Datetime)
df_sub_seoul.Datetime=list(korea_time)

<ipython-input-11-c1820af8549f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_seoul.Datetime=list(korea_time)

In [12]:
df_sub_seoul.rename(columns={'Address':'City'},inplace=True)
df_sub_seoul=df_sub_seoul.assign(City='Seoul')
df_sub_seoul.fillna(method = 'ffill',inplace = True)

<ipython-input-12-baad6955e193>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_seoul.rename(columns={'Address':'City'},inplace=True)

In [13]:
df_sub_india=df_india[df_india.Datetime.dt.year>2016]
df_sub_india=df_sub_india[df_sub_india.Datetime.dt.year<2020]
df_sub_india=df_sub_india[df_sub_india['City']!='Ahmedabad']
df_sub_india.fillna(method = 'ffill',inplace = True)

In [14]:
df_concat=[df_sub_india,df_sub_seoul]
df=pd.concat(df_concat)
df.drop(columns=['Latitude','Longitude','AQI_Bucket'],inplace=True)
df['Datetime']=df['Datetime'].map(lambda x: x.timestamp())

#**Data pre-processing**

In [15]:
df.drop(["Xylene","NO","Benzene","Toluene","NH3","NO2","NOx"],axis=1,inplace=True)

In [16]:
for col in df.columns:
  num_of_nan = df[col].isna().sum()
  percent_of_nan=num_of_nan*100/len(df)
  print(f"Column \"{col}\" has {num_of_nan} missing values ({percent_of_nan}%)")

Column "City" has 0 missing values (0.0%)
Column "Datetime" has 0 missing values (0.0%)
Column "PM2.5" has 0 missing values (0.0%)
Column "PM10" has 0 missing values (0.0%)
Column "CO" has 0 missing values (0.0%)
Column "SO2" has 0 missing values (0.0%)
Column "O3" has 0 missing values (0.0%)
Column "AQI" has 25921 missing values (5.811974627404466%)
Column "Country" has 0 missing values (0.0%)

In [17]:
df

,City,Datetime,PM2.5,PM10,CO,SO2,O3,AQI,Country
50872,Amaravati,1.511543e+09,60.50,98.00,0.1,11.850,126.400,NaN,India
50873,Amaravati,1.511546e+09,65.50,111.25,0.1,13.170,117.120,NaN,India
50874,Amaravati,1.511550e+09,80.00,132.00,0.1,12.080,98.980,NaN,India
50875,Amaravati,1.511554e+09,81.50,133.25,0.1,10.470,112.200,NaN,India
50876,Amaravati,1.511557e+09,75.25,116.00,0.1,9.120,106.350,NaN,India
...,...,...,...,...,...,...,...,...,...
25900,Seoul,1.577819e+09,19.00,26.00,0.5,0.003,0.014,NaN,Korea
25901,Seoul,1.577822e+09,19.00,27.00,0.4,0.003,0.014,NaN,Korea
25902,Seoul,1.577826e+09,18.00,23.00,0.4,0.003,0.021,NaN,Korea
25903,Seoul,1.577830e+09,19.00,20.00,0.5,0.003,0.014,NaN,Korea
25904,Seoul,1.577833e+09,15.00,20.00,0.5,0.004,0.005,NaN,Korea

In [18]:
df["PM10_24hr_avg"] = df.groupby("City")["PM10"].rolling(window = 24, min_periods = 1).mean().values
df["PM2.5_24hr_avg"] = df.groupby("City")["PM2.5"].rolling(window = 24, min_periods = 1).mean().values
df["SO2_24hr_avg"] = df.groupby("City")["SO2"].rolling(window = 24, min_periods = 1).mean().values
df["CO_8hr_max"] = df.groupby("City")["CO"].rolling(window = 8, min_periods = 1).max().values
df["O3_8hr_max"] = df.groupby("City")["O3"].rolling(window = 8, min_periods = 1).max().values

In [19]:
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0
df["PM2.5_SubIndex"] = df["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))

def get_PM10_subindex(x):
    if x <= 50:
        #return x * 50/ 50
        return x
    elif x <= 100:
        #return  50 + (x -  50) *  50 / 50
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0
df["PM10_SubIndex"] = df["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))

def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0
df["SO2_SubIndex"] = df["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))

def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0
df["CO_SubIndex"] = df["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))

def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0
df["O3_SubIndex"] = df["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

In [20]:
df.set_index((i for i in range(len(df))), inplace=True)

In [21]:
for i in range(len(df)):
  if np.isnan(df['AQI'][i])==True:
    df['AQI'][i]=max(df['PM2.5_SubIndex'][i],df['PM10_SubIndex'][i],df['SO2_SubIndex'][i],df['CO_SubIndex'][i],df['O3_SubIndex'][i])

<ipython-input-21-ae0b2e23b495>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AQI'][i]=max(df['PM2.5_SubIndex'][i],df['PM10_SubIndex'][i],df['SO2_SubIndex'][i],df['CO_SubIndex'][i],df['O3_SubIndex'][i])

In [22]:
df

,City,Datetime,PM2.5,PM10,CO,SO2,O3,AQI,Country,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex
0,Amaravati,1.511543e+09,60.50,98.00,0.1,11.850,126.400,138.823529,India,98.000000,60.500000,11.850000,0.10,126.40,101.666667,98.000000,14.812500,5.0,138.823529
1,Amaravati,1.511546e+09,65.50,111.25,0.1,13.170,117.120,138.823529,India,104.625000,63.000000,12.510000,0.10,126.40,110.000000,103.083333,15.637500,5.0,138.823529
2,Amaravati,1.511550e+09,80.00,132.00,0.1,12.080,98.980,138.823529,India,113.750000,68.666667,12.366667,0.10,126.40,128.888889,109.166667,15.458333,5.0,138.823529
3,Amaravati,1.511554e+09,81.50,133.25,0.1,10.470,112.200,139.583333,India,118.625000,71.875000,11.892500,0.10,126.40,139.583333,112.416667,14.865625,5.0,138.823529
4,Amaravati,1.511557e+09,75.25,116.00,0.1,9.120,106.350,141.833333,India,118.100000,72.550000,11.338000,0.10,126.40,141.833333,112.066667,14.172500,5.0,138.823529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445988,Seoul,1.577819e+09,19.00,26.00,0.5,0.003,0.014,116.000000,Korea,124.000000,49.854167,6.783333,1.36,99.20,83.090278,116.000000,8.479167,68.0,99.200000
445989,Seoul,1.577822e+09,19.00,27.00,0.4,0.003,0.014,116.000000,Korea,124.000000,50.145833,7.145833,1.73,99.20,83.576389,116.000000,8.932292,86.5,99.200000
445990,Seoul,1.577826e+09,18.00,23.00,0.4,0.003,0.021,115.250000,Korea,122.875000,50.750000,7.583333,1.89,99.20,84.583333,115.250000,9.479167,94.5,99.200000
445991,Seoul,1.577830e+09,19.00,20.00,0.5,0.003,0.014,114.500000,Korea,121.750000,51.406250,7.900833,1.89,99.20,85.677083,114.500000,9.876042,94.5,99.200000
445992,Seoul,1.577833e+09,15.00,20.00,0.5,0.004,0.005,113.944444,Korea,120.916667,52.333333,8.127917,1.89,95.17,87.222222,113.944444,10.159896,94.5,95.170000

In [23]:
df.drop(["PM10_24hr_avg","PM2.5_24hr_avg","SO2_24hr_avg","CO_8hr_max","O3_8hr_max","PM2.5_SubIndex","PM10_SubIndex","SO2_SubIndex","CO_SubIndex","O3_SubIndex"],axis=1,inplace=True)

In [24]:
df.to_csv('AQI_India_Seoul',sep='\t')

In [25]:
X_train_df=pd.DataFrame()
X_test_df=pd.DataFrame()

for city in df['City'].unique():
  df_temp=df.loc[df['City']==city]
  threshold=int(df_temp.shape[0]*0.8)

  train_temp=df_temp[:threshold]
  test_temp=df_temp[threshold:]

  X_train_df=pd.concat([X_train_df,train_temp],axis=0)
  X_test_df=pd.concat([X_test_df,test_temp],axis=0)

y_train_df=X_train_df['AQI'].values
y_test_df=X_test_df['AQI'].values

X_train_df.set_index((i for i in range(len(X_train_df))),inplace=True)
X_test_df.set_index((i for i in range(len(X_test_df))),inplace=True)

In [26]:
from sklearn.preprocessing import OneHotEncoder

oh_train=OneHotEncoder()
oh_test=OneHotEncoder()

oh_train_data=oh_train.fit_transform(X_train_df[['City','Country']]).toarray()
oh_train_labels=oh_train.categories_
oh_train_labels=np.concatenate((oh_train_labels[0],oh_train_labels[1]))

oh_test_data=oh_test.fit_transform(X_test_df[['City','Country']]).toarray()
oh_test_labels=oh_test.categories_
oh_test_labels=np.concatenate((oh_test_labels[0],oh_test_labels[1]))

oh_train_df=pd.DataFrame(oh_train_data,columns=oh_train_labels)
oh_test_df=pd.DataFrame(oh_test_data,columns=oh_test_labels)
oh_test_df

,Amaravati,Amritsar,Bengaluru,Bhopal,Brajrajnagar,Chandigarh,Chennai,Coimbatore,Delhi,Gurugram,...,Lucknow,Mumbai,Patna,Seoul,Shillong,Talcher,Thiruvananthapuram,Visakhapatnam,India,Korea
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
df_train_new=pd.concat((X_train_df,oh_train_df),axis=1)
df_train_new.drop(['City','Country'],axis=1,inplace=True)

df_test_new=pd.concat((X_test_df,oh_test_df),axis=1)
df_test_new.drop(['City','Country'],axis=1,inplace=True)
df_test_new

,Datetime,PM2.5,PM10,CO,SO2,O3,AQI,Amaravati,Amritsar,Bengaluru,...,Lucknow,Mumbai,Patna,Seoul,Shillong,Talcher,Thiruvananthapuram,Visakhapatnam,India,Korea
0,1.564578e+09,5.00,29.75,0.42,6.300,26.180,27.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.564582e+09,9.50,30.00,0.42,17.800,29.200,29.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.564585e+09,14.75,34.25,0.42,10.120,31.570,32.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.564589e+09,16.25,36.25,0.47,8.300,31.800,32.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.564592e+09,12.50,32.00,0.51,8.200,32.100,32.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,1.577819e+09,19.00,26.00,0.50,0.003,0.014,116.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89199,1.577822e+09,19.00,27.00,0.40,0.003,0.014,116.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89200,1.577826e+09,18.00,23.00,0.40,0.003,0.021,115.250000,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89201,1.577830e+09,19.00,20.00,0.50,0.003,0.014,114.500000,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
89202,1.577833e+09,15.00,20.00,0.50,0.004,0.005,113.944444,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaled_features=['Datetime','PM2.5','PM10','SO2','CO','O3']

y_train=np.reshape(y_train_df,(len(y_train_df),1))
values_train=df_train_new[scaled_features].values

scaler = MinMaxScaler(feature_range=(0, 1))
scaled_values_train = scaler.fit_transform(values_train)

df_train_new[scaled_features]=scaled_values_train

y_test=np.reshape(y_test_df,(len(y_test_df),1))
values_test=df_test_new[scaled_features].values

scaled_values_test = scaler.fit_transform(values_test)

df_test_new[scaled_features]=scaled_values_test

In [29]:
df_train_new.shape
df_train_new.shape

(356790, 32)

In [30]:
def window_slide(train,label):
  window_size = 4
  X = []
  Y = []
  for i in range(window_size, len(train)):
    X.append(train[i-window_size:i,:])
    Y.append(label[i,:])

  return X,Y

In [31]:
X_train,y_train=window_slide(df_train_new.values,y_train)
X_train = np.array(X_train)
y_train = np.array(y_train)
print('Y' ,y_train.shape)
print('X' ,X_train.shape)

X_test,y_test=window_slide(df_test_new.values,y_test)
X_test = np.array(X_test)
y_test = np.array(y_test)

print('Y' ,y_test.shape)
print('X' ,X_test.shape)

Y (356786, 1)
X (356786, 4, 32)
Y (89199, 1)
X (89199, 4, 32)

In [32]:
X_train=X_train.reshape((X_train.shape[0],2,2,X_train.shape[2]))
X_test=X_test.reshape((X_test.shape[0],2,2,X_test.shape[2]))

In [33]:
X_train.shape

(356786, 2, 2, 32)

#Modeling and training

In [36]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import TimeDistributed
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
import tensorflow as tf

model = Sequential()
model.add(TimeDistributed(Conv1D(filters=64, kernel_size=1, activation='relu'), input_shape=(None, X_train.shape[1], X_train.shape[3])))
model.add(TimeDistributed(MaxPooling1D(pool_size=2)))
model.add(TimeDistributed(Flatten()))
model.add(LSTM(256, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse',metrics=[tf.keras.metrics.Accuracy()])
model.fit(X_train,y_train,epochs=20,batch_size=166,verbose=1)

Epoch 1/20
2150/2150 [==============================] - 43s 19ms/step - loss: 202.2596 - accuracy: 5.6056e-06
Epoch 2/20
2150/2150 [==============================] - 41s 19ms/step - loss: 103.4697 - accuracy: 0.0000e+00
Epoch 3/20
2150/2150 [==============================] - 41s 19ms/step - loss: 99.8302 - accuracy: 5.6056e-06
Epoch 4/20
2150/2150 [==============================] - 40s 19ms/step - loss: 98.2110 - accuracy: 2.8028e-06
Epoch 5/20
2150/2150 [==============================] - 40s 19ms/step - loss: 96.2292 - accuracy: 0.0000e+00
Epoch 6/20
2150/2150 [==============================] - 41s 19ms/step - loss: 94.3445 - accuracy: 2.8028e-06
Epoch 7/20
2150/2150 [==============================] - 40s 19ms/step - loss: 92.8053 - accuracy: 0.0000e+00
Epoch 8/20
2150/2150 [==============================] - 40s 19ms/step - loss: 90.1498 - accuracy: 8.4084e-06
Epoch 9/20
2150/2150 [==============================] - 41s 19ms/step - loss: 89.3089 - accuracy: 2.8028e-06
Epoch 10/20
2150/2150 [==============================] - 42s 20ms/step - loss: 87.9434 - accuracy: 0.0000e+00
Epoch 11/20
2150/2150 [==============================] - 41s 19ms/step - loss: 86.4988 - accuracy: 0.0000e+00
Epoch 12/20
2150/2150 [==============================] - 41s 19ms/step - loss: 85.8062 - accuracy: 2.8028e-06
Epoch 13/20
2150/2150 [==============================] - 41s 19ms/step - loss: 84.4814 - accuracy: 0.0000e+00
Epoch 14/20
2150/2150 [==============================] - 41s 19ms/step - loss: 83.8389 - accuracy: 2.8028e-06
Epoch 15/20
2150/2150 [==============================] - 42s 19ms/step - loss: 83.2104 - accuracy: 5.6056e-06
Epoch 16/20
2150/2150 [==============================] - 41s 19ms/step - loss: 81.5805 - accuracy: 2.8028e-06
Epoch 17/20
2150/2150 [==============================] - 41s 19ms/step - loss: 80.9534 - accuracy: 0.0000e+00
Epoch 18/20
2150/2150 [==============================] - 41s 19ms/step - loss: 79.6825 - accuracy: 0.0000e+00
Epoch 19/20
2150/2150 [==============================] - 41s 19ms/step - loss: 79.3641 - accuracy: 0.0000e+00
Epoch 20/20
2150/2150 [==============================] - 41s 19ms/step - loss: 78.5509 - accuracy: 0.0000e+00

In [40]:
model.evaluate(X_test, y_test)

2788/2788 [==============================] - 8s 3ms/step - loss: 58.4302 - accuracy: 0.0000e+00

[58.43022918701172, 0.0]

In [ ]:
!pip install --quiet optuna

In [ ]:
# from keras.models import Sequential
# from keras.layers import LSTM
# from keras.layers import Dense
# from keras.layers import Flatten
# from keras.layers import TimeDistributed
# from keras.layers.convolutional import Conv1D
# from keras.layers.convolutional import MaxPooling1D
# import optuna
# from sklearn.metrics import mean_squared_error

# def objective(trial):

#   batch_size=trial.suggest_int('batch_size',64,512)
#   units=trial.suggest_int('units',32,512)
#   filters=trial.suggest_int('filters',32,256)

#   model = Sequential()
#   model.add(TimeDistributed(Conv1D(filters=filters, kernel_size=1, activation='relu'), input_shape=(None, X_train.shape[1], X_train.shape[3])))
#   model.add(TimeDistributed(MaxPooling1D(pool_size=2)))
#   model.add(TimeDistributed(Flatten()))
#   model.add(LSTM(units=units, activation='relu'))
#   model.add(Dense(1))
#   model.compile(optimizer='adam', loss='mse')

#   model.fit(X_train,y_train,epochs=20,batch_size=batch_size,verbose=1)
#   y_pred=model.predict(X_test)
#   return mean_squared_error(y_test, y_pred)

# study = optuna.create_study(direction='maximize')
# study.optimize(objective, n_trials=100)

# trial = study.best_trial

# print('Accuracy: {}'.format(trial.value))
# print("Best hyperparameters: {}".format(trial.params))

In [ ]:
y_pred=model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mse

In [ ]:
#Plot the graph between actual vs predicted values
plt.figure(figsize=(10,6))
plt.plot(y_pred[:100,:], color= 'green',label = 'Predicted AQI')
plt.plot(y_test[:100,:] , color = 'red',label = 'Actual AQI')
plt.title("AQI Prediction (Multivariate)")
plt.xlabel("Date")
plt.ylabel("AQI")
plt.legend()
plt.show()
plt.savefig('graph.png')